/* @media screen and (max-width: 1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-cont{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none
    }
    #hamburger{
        display: flex;
    }
    #experience, .exp detailscont{
        margin-top: 2rem;
    }
} */